<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="icon" href="../icons/heart.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <title>will you? ❤</title>
</head>
<body>
    <div class="wrapper">
        <div id="envelope" class="close">
            <div class="front flap"></div>
            <div class="front pocket"></div>
            <div class="letter">
                <div class="question">
                    <div class="line1">WILL YOU BE MY</div>
                    <div class="line2">VALENTINE?</div>
                </div>
                
                <div class="btn-group">
                    <button id="yes">YES!</button>
                    <button id="no">NO.</button>
                </div>
            </div>
        </div>
    </div>
<script src="../js/script.js"></script>
</body>
</html>